{% extends "base_template.html" %}

{% block title %}Crows4SDG VisualCit Pipeline Interface{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="content">

    <div class="banner_box vertical-center" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
        <div><span>
          <img src="/static/images/Crowd4SDG.png" style="height: 75px;flex-basis: 10%;">
        </span></div>

        <div><span>
          <img src="/static/images/Logo_polimi.png" style="height: 35px;flex-basis: 20%;">
        </span></div>
    </div>

    <div style="background-color: rgb(211,211,211); position: relative;z-index: 0;opacity:0.999">

    <h1 class= "logo" style="color: black;">
        <img src="/static/images/VisualCit.png" style="height: 60px;">   
        Pipeline Interface 
    </h1>
    <br style="line-height: 5px" />




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <div class= "source">
        <form method="POST">
            <select id="source" name="source">
                <option value="Twitter"{% if source_applied[0].source == "Twitter" %}selected{%endif%}>Twitter</option>
                <option value="Flickr"{% if source_applied[0].source == "Flickr" %}selected{%endif%}>Flickr</option>
               <!-- 
                <option value="Flickr"{% if source_applied[0].source == "Flickr" %}selected{%endif%}>Flickr</option>
                <option value="Reddit"{% if source_applied[0].source == "Reddit" %}selected{%endif%}>Reddit</option> -->
            </select>
            <input id="keywords" name="keywords" type="text" {% if count > 0 %} value= '{{source_applied[0].keywords}}' {% endif %} placeholder= "Search keywords" required>
            <label for="number_pic" style= "margin-left: 20px; font-family: Arial, Helvetica, sans-serif;">Number of images:</label>
            <input id="number_pic" name="number_pic" {% if count == 0%} value= 100 {% else %} value= {{number_images}} {% endif %} type="number" min="100" max="1000" step="100" style="width: 50px;">
            <button id="source_button" type="submit" class="source_button" name="source_button" value="">Search</button> 
            <button id="loading" name="loading" class="loading" type="button" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button> <br style="line-height: 5px" /><br style="line-height: 5px" />
        </form>
        {% if tweets[0]|length < number_images|int %}
            {% set number= tweets[0]|length %}
        {% else %}
            {% set number= number_images|int %}
        {% endif %}
        {% for s in source_applied %}
        {% if s.source != "" %}
        {% if s.source == 'Twitter' or s.source == 'Flickr' %}
            <div class="container">
                {% for u in range(number) %}

                    <img src= {{ tweets[0][u].url }} height=100 title= '{{tweets[0][u].text}}' style="display: inline-block;" loading="lazy" onerror="this.style.display='none'"/>
                    <!--
                    <div class= "overlay">
                        <div class= "text"> {{tweets[0][u].text}}</div>
                    </div>
                    -->
                {% endfor %}
            </div>
        {% endif %}
        {% endif %}
        <br style="line-height: 5px" />
        <div class= "download" style="float: right; font-family: Arial, Helvetica, sans-serif;">
            {% if count > 0 %}
            <label2><font size="2">{{ tweets[0]|length }} items returned</font></label2>&nbsp;&nbsp;&nbsp;
            <a href="/downloadCSV?id=0">
                <button id= "download_csv" type="button" name="download_csv" value= "0" style= "float: right;">Download CSV File</button>
            </a>
            {% endif %}

        </div><br style="line-height: 5px" /><br style="line-height: 5px" />
        {% endfor %}

    </div> 
    <div class="filters">
        {% if count>0 %}
        {% for x in range(count) %}
        <form method="POST" id={{"poster"~(x+1)}}>
            <!--button type="submit" id={{"up_button"~(x+1)}} class= "btn" name= "up_button" value= {{x+1}} {% if count > x+1 and x > 0 %} style="display:inline;" {% else %} style="display:none;" {% endif %}><i class= "fa fa-arrow-up" style="font-size:12px;display:none;"></i></button-->
            <select id={{"Filter"~(x+1)}} name="Filter_select" required>
                <option value="">-Select-</option>
                <optgroup label="Preprocessing">
                  <option value="{{ duplicates_tag }}" {% if applied[x].Filter == duplicates_tag %} selected {% endif %}>{{ duplicates_tag }}</option>
                  <option value="{{ nsfw_tag }}" {% if applied[x].Filter == nsfw_tag %} selected {% endif %}>{{ nsfw_tag }}</option>
                  <option value="{{ meme }}" {% if applied[x].Filter == meme %} selected {% endif %}>{{ meme }}</option>
                </optgroup>
                <optgroup label="Selection">
                  <option value="{{ person_tag }}" {% if applied[x].Filter == person_tag %} selected {% endif %}>{{ person_tag }}</option>
                  <option value="{{ object_tag }}" {% if applied[x].Filter == object_tag %} selected {% endif %}>{{ object_tag }}</option>
                  <option value="{{ scene_tag }}" {% if applied[x].Filter == scene_tag %} selected {% endif %}>{{ scene_tag }}</option>
                  <!--option value="{{ object_tag_detr }}" {% if applied[x].Filter == object_tag_detr %} selected {% endif %}>{{ object_tag_detr }}</option-->
                  <option value="{{ flood_tag }}" {% if applied[x].Filter == flood_tag %} selected {% endif %}>{{ flood_tag }}</option>

                </optgroup>
                <optgroup label="Location">
                  <option value="{{ post_location_tag }}" {% if applied[x].Filter == post_location_tag %} selected {% endif %}>{{ post_location_tag }}</option>
                  <option value="{{ user_location_tag }}" {% if applied[x].Filter == user_location_tag %} selected {% endif %}>{{ user_location_tag }}</option>
                  {% if hasuserloc %}
                    <option value="{{ user_location_sel_tag }}" {% if applied[x].Filter == user_location_sel_tag %} selected {% endif %}>{{ user_location_sel_tag }}</option>
                  {% endif %}
                </optgroup>

                <!--<option value="Geographic" {% if applied[x].Filter == "Geographic" %} selected {% endif %}>Geographic</option>-->
            </select>
            {% for message in get_flashed_messages() %}
            {% if applied[x].Filter == "" %}
            <span style="color: red;">{{ message }}</span>
            {% endif %}
            {% endfor %}
            <select id={{"option1"~(x+1)}} name="option1_select" {% if applied[x].Filter == scene_tag %} style="display:inline;" {% else %} style="display:none;" {% endif %}>
                <!--option value="PublicPrivateClassifier" {% if applied[x].Attribute == "PublicPrivateClassifier" %} selected {% endif %}>Outdoors</option-->
                <optgroup label="Type of scene">
                    {% for obj in moreparams.get('places365_aggregated') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                <optgroup label="Specific scene">
                    {% for obj in moreparams.get('places365') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>

                <!--
                <option value="Indoors" {% if applied[x].Attribute == "Indoors" %} selected {% endif %}>Indoors</option>
                <option value="Sea" {% if applied[x].Attribute == "Sea" %} selected {% endif %}>Sea</option>
                <option value="Mountain" {% if applied[x].Attribute == "Mountain" %} selected {% endif %}>Mountain</option>
                <option value="Day" {% if applied[x].Attribute == "Day" %} selected {% endif %}>Day</option>
                <option value="Night" {% if applied[x].Attribute == "Night" %} selected {% endif %}>Night</option> -->
            </select>
            <select id={{"option2"~(x+1)}} name="option2_select" {% if applied[x].Filter == object_tag %} style="display:inline;" {% else %} style="display:none;" {% endif %}>
                <optgroup label="People and animals">
                    {% for obj in moreparams.get('coco_animals') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Transportation means">
                    {% for obj in moreparams.get('coco_transport') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Landmarks">
                    {% for obj in moreparams.get('coco_landmarks') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Devices">
                    {% for obj in moreparams.get('coco_devices') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Food">
                    {% for obj in moreparams.get('coco_food') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Other">
                    {% for obj in moreparams.get('coco_other') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                    {% endfor %}
                </optgroup>

                <!--option value="PeopleDetector" {% if applied[x].Attribute == "PeopleDetector" %} selected {% endif %}>Person</option--!>
            </select>
            <select id={{"option_obj_select"~(x+1)}} name="option_obj_select" {% if applied[x].Filter == object_tag_detr %} style="display:inline;" {% else %} style="display:none;" {% endif %}>
                <!--option value="PeopleDetector" {% if applied[x].Attribute == "PeopleDetector" %} selected {% endif %}>Person</option--!>
                {% for obj in moreparams.get('coco') %}
                    <option value="{{obj}}" {% if applied[x].object == obj %} selected {% endif %}>{{obj}}</option>
                {% endfor %}

            </select>
            <select id={{"option3"~(x+1)}} name="option3_select" {% if applied[x].Filter == user_location_sel_tag %} style="display:inline;" {% else %} style="display:none;" {% endif %}>
                {% for location in locations[x] %}
                    <option value='{{location}}' {% if applied[x].Attribute == location %} selected {% endif %}>{{location}}</option>
                {% endfor %}
            </select>
            <input id={{"latitude"~(x+1)}} name="latitude_text" type="text" {% if applied[x].Filter == "Geographic" %} style="display:inline;" value={{applied[x].Attribute[0]}} {% else %} style="display:none;" value="-Latitude-" {% endif %}>
            <input id={{"longitude"~(x+1)}} name="longitude_text" type="text" {% if applied[x].Filter == "Geographic" %} style="display:inline;" value={{applied[x].Attribute[1]}} {% else %} style="display:none;" value="-Longitude-" {% endif %}>
            <label id={{"label"~(x+1)}} for={{"confidence"~(x+1)}} {% if applied[x].Filter != '' and applied[x].Filter != '--' and applied[x].Filter != post_location_tag and applied[x].Filter != user_location_tag and applied[x].Filter != user_location_sel_tag and applied[x].Filter != duplicates_tag %} style= "margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: inline;" {% else %} style= "margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: none;" {% endif %}>Confidence threshold (%):</label>
            <input id={{"confidence"~(x+1)}} name="confidence" value= {{applied[x].Confidence}} type="number" min="0" max="100" step="1" {% if applied[x].Filter != '' and applied[x].Filter != '--' and applied[x].Filter != post_location_tag and applied[x].Filter != user_location_tag and applied[x].Filter != user_location_sel_tag and applied[x].Filter != duplicates_tag %} style="width: 50px; display: inline;" {% else %} style="width: 50px; display: none;" {% endif %}>
            <label id={{"label_min"~(x+1)}} for={{"min_items"~(x+1)}} {% if applied[x].Filter == object_tag or applied[x].Filter == person_tag %} style= "margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: inline;" {% else %} style= "margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: none;" {% endif %}>Min items:</label>
            <input id={{"min_items"~(x+1)}} name="min_items" value={% if applied[x].min_items is defined %}{{ applied[x].min_items }}{% else %}1{% endif %} type="number" min="0" max="5" step="1" {% if applied[x].Filter == object_tag or applied[x].Filter == person_tag %} style="width: 50px; display: inline;" {% else %} style="width: 50px; display: none;" {% endif %}>
            <label id={{"label_bit"~(x+1)}} for={{"bit"~(x+1)}} {% if applied[x].Filter != '' and applied[x].Filter != '--' and applied[x].Filter == duplicates_tag %} style="margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: inline;" {% else %} style="margin-left: 20px; font-family: Arial, Helvetica, sans-serif; display: none;" {% endif %}>Similarity threshold (lower values mean less sensitive):</label>
            <input id={{"bit"~(x+1)}} name="bit" value={% if applied[x].bits is defined %}{{ applied[x].bits }}{% else %}8{% endif %} type="int" min="0" max="10" step="1" {% if applied[x].Filter != '' and applied[x].Filter != '--' and applied[x].Filter == duplicates_tag %} style="width: 50px; display: inline;" {% else %} style="width: 50px; display: none;" {% endif %}>
            <button id={{"apply_button"~(x+1)}} type="submit" class="apply_button" name="apply_button" value={{x+1}} nom={{ tweets[x]|length }}>Apply</button>
            <button id={{"loading"~(x+1)}} name="loading" class="loading" type="button" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <div class="disabledBackgroundContainer" id="disabledBackgroundContainer{{(x+1)}}">
                <progress id="progressBar{{x+1}}"></progress>
            </div> <!-- {{x+1}}, {{ tweets[x]|length }}  -->


            <br style="line-height: 5px" /><br style="line-height: 5px" />
        </form>





        {% if applied[x].Filter != "" %}
        {% for s in source_applied %}
        {% if tweets[x+1]|length < number %}
            {% set number= tweets[x+1]|length %}
        {% endif %}
        {% if s.source == 'Twitter' or s.source == 'Flickr' %}

            {# % if not hasmap or count != x+2 % #}
            {% if not hasmap or applied[x].Filter != post_location_tag %}

            <div class="container">
                {% for u in range(number) %}

                <img src= {{ tweets[x+1][u].url }} height=100 title='{{tweets[x+1][u].text}}' style="display: inline-block;" loading="lazy"/>
                {% endfor %}

            </div>
            {% endif %}

            {# % if hasmap and count == x+2 % #}
            {% if hasmap and applied[x].Filter == post_location_tag %}
            <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                {{ mapdata|safe }}
            </div>
            {% endif %}


        {% endif %}
        {% endfor %}

        {% endif %}
        <br style="line-height: 5px" />
        <div class= "download" style="float: right; font-family: Arial, Helvetica, sans-serif;">
            <form method= "POST">
            {% if count > x+1 %}
            <label2><font size="2">{{ tweets[x+1]|length }} items returned</font></label2>&nbsp;&nbsp;&nbsp;
            <a href={{"/downloadCSV?id="~(x+1)}}>
                <button id= {{"download_csv"~(x+1)}} type= "button" name= "download_csv" value= {{x+1}} style= "float: right;">Download CSV File</button>
            </a>
                {% if hasmap and applied[x].Filter == post_location_tag %}
                <a href="/map" target="_blank">
                    <button id= "mymap" type="button"   name="mymap" value= "0" style= "float: right;">Show fullscreen map</button>
                </a>
                {% endif %}

            {% endif %}
            </form>
        </div>

        <br style="line-height: 5px" />
        <br style="line-height: 5px" />
        {% endfor %}

        {% endif %}
    </div>
    <br style="line-height: 5px" />
    <div class= "reset">
        <form method="POST">
            <button type="submit" name="reset_button" value="">Reset Page</button>
        {% if count > 0 %}
         <a href="/batch" target="_blank">
            <button id= "batch" type="button" name="batch" value="0" >Get configuration for this pipeline</button>
        </a>
        {% endif %}

        </form>
    </div>
    <br style="line-height: 5px" />
    <br style="line-height: 5px" />

    </div> <!-- # close grey -->


<!-- The Modal -->
<div id="myModal" class="modal", style="display:{% if firsttime %}block{% else %}none{% endif %};">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close2_" class="close">&times;</span>
      <!-- YT embed -->
       <!--iframe width="560" height="315" src="https://www.youtube.com/embed/ZIaayJYDC9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
       <video controls playsinline id="myvideo" src="{% if firsttime %}/static/video/visualcit_demo_sound.mkv{% else %}none{% endif %}" controls="yourControls" autoplay="false">
        Your browser doesn't support the `<video>` tag. /*this is a fallback*/
        </video>
  </div>

</div>

</div>

<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal -->

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementById("close2_");

var video = document.getElementById("myvideo");
video.pause();

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  video.pause();
  video.currentTime = 0;
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    video.pause();
    video.currentTime = 0;
  }
}

</script>

<!--footer class="bg-light small px-3 py-3 mt-auto" id="footer"-->
<footer class="footer2">
        <div class="container-fluid">
            <div class="float-right">
                VisualCit interface created by Miguel Armendáriz Jáuregui, Carlo Alberto Bono, Edoardo Ramalli, Mark Carman, Barbara Pernici, Jacopo Frasson, and others...
            </div>
        </div>
</footer>

    <script>
        for (i=0;i < {{count}};i++) {
            var a = i+1
            let Filter_select = document.getElementById('Filter'+a);
            let option1_select = document.getElementById('option1'+a);
            let option2_select = document.getElementById('option2'+a);
            let option_obj_select = document.getElementById('option_obj_select'+a);
            let option3_select = document.getElementById('option3'+a);
            let bit_select = document.getElementById('bit'+a);
            let latitude_text = document.getElementById('latitude'+a);
            let longitude_text = document.getElementById('longitude'+a);
            let confidence_numb = document.getElementById('confidence'+a);
            let confidence_label = document.getElementById('label'+a);
            let min_items_numb = document.getElementById('min_items'+a);
            let min_items_label = document.getElementById('label_min'+a);
            let label_bit = document.getElementById('label_bit'+a);

            Filter_select.onchange = function() {
                Filter = Filter_select.value;                
                if(Filter != '' && Filter != '{{ user_location_sel_tag }}' && Filter != '{{ post_location_tag }}' && Filter != '{{ user_location_tag }}' && Filter != '{{ duplicates_tag }}' ) {
                confidence_label.style.display='inline';
                confidence_numb.style.display='inline';
                }
                else {
                confidence_label.style.display='none';
                confidence_numb.style.display='none';
                }
                if(Filter == '{{ duplicates_tag }}') {
                    bit_select.style.display='inline';
                    label_bit.style.display='inline';
                }
                else {
                    bit_select.style.display='none';
                    label_bit.style.display='none';
                }
                if(Filter == '{{ scene_tag }}') {
                    option1_select.style.display='inline';
                }
                else {
                    option1_select.style.display='none';
                }
                if(Filter == '{{ object_tag }}') {
                    option2_select.style.display='inline';
                    min_items_numb.style.display='inline';
                    min_items_label.style.display='inline';
                }
                else {
                    option2_select.style.display='none';
                    min_items_numb.style.display='none';
                    min_items_label.style.display='none';
                }
                if(Filter == '{{ person_tag }}') {
                    option2_select.style.display='none';
                    min_items_numb.style.display='inline';
                    min_items_label.style.display='inline';
                }
                else {
                    if(Filter != '{{ object_tag }}'){
                    option2_select.style.display='none';
                    min_items_numb.style.display='none';
                    min_items_label.style.display='none';
                    }
                }
                if(Filter == '{{ object_tag_detr }}') {
                    option_obj_select.style.display='inline';
                }
                else {
                    option_obj_select.style.display='none';
                }
                if(Filter == '{{ user_location_sel_tag }}') {
                    option3_select.style.display='inline';
                }
                else {
                    option3_select.style.display='none';
                }
                if(Filter == 'Geographic') {
                    latitude_text.style.display='inline';
                    longitude_text.style.display='inline';
                }
                else {
                    latitude_text.style.display='none';
                    longitude_text.style.display='none';
                }
            }
        }
    </script>
    <script>
        let search_button = document.getElementById('source_button');
        let loading_symbol = document.getElementById('loading');
        let keywords_text = document.getElementById('keywords');
        let number_pic = document.getElementById('number_pic');
        
        search_button.onclick = function() {
            keywords = keywords_text.value;
            if(keywords != '' && number_pic.value < 1001) {
                search_button.style.display='none';
                loading_symbol.style.display='inline';
            }            
            
        }
        window.onload = function() {
            search_button.style.display='inline';
            loading_symbol.style.display='none';
            if ('{{alert}}' != '') {
                alert('{{alert}}');
            }                        
        }
        
    </script>
    <script>
        for (i=0;i < {{count}};i++) {
            var a = i+1
            let apply_button = document.getElementById('apply_button'+a);
            let up_button = document.getElementById('up_button'+a);
            let loading_symbol = document.getElementById('loading'+a);
            let Filter_select = document.getElementById('Filter'+a);
            let confidence = document.getElementById('confidence'+a);
            
            apply_button.onclick = function() {
                Filter = Filter_select.value;

                if(Filter != '' && confidence.value < 101) {
                    apply_button.style.display='none';
                    loading_symbol.style.display='inline';
                    serverCall(a);
                }


            }
            window.onload = function() {
                apply_button.style.display='inline';
                loading_symbol.style.display='none';
                if ('{{alert}}' != '') {
                    alert('{{alert}}');
                }            
            }
        }           
        
    </script>

    <script>
            $(window).scroll(function () {
            sessionStorage.scrollTop = $(this).scrollTop();
            });
            $(document).ready(function () {
                if (sessionStorage.scrollTop != "undefined") {
                    $(window).scrollTop(sessionStorage.scrollTop);
                }
            });
    </script>
    <script>

    for (i=0;i < {{count}};i++) {
        var a = i+1
        var input1 = document.getElementById('confidence'+a);
        var input2 = document.getElementById('bit'+a);
        var apply_button = document.getElementById('up_button'+a);
        let Filter_select = document.getElementById('Filter'+a);
        var myform = document.getElementById('poster'+a);

        input1.addEventListener("keypress", function(event) {
            if (event.keyCode === 13 || event.which === 13 || event.code === 'Enter') {
                event.preventDefault();
                Filter = Filter_select.value;
                myform.submit();
            }
        });

        input2.addEventListener("keypress", function(event) {
            if (event.keyCode === 13 || event.which === 13 || event.code === 'Enter') {
                event.preventDefault();
                Filter = Filter_select.value;
                myform.submit();
            }
        }
        );
    }

    </script>
    <script>
        function serverCall(id) {

        console.log(id)
        var container = document.getElementById('disabledBackgroundContainer'+a),
        progressBar = document.getElementById('progressBar'+a),
        applyButton = document.getElementById('apply_button'+a)
        duration = applyButton.getAttribute("nom") * 1000,

        current_progress = 0,

        progressBar.setAttribute("max", 100);

        $(container).css("display", "inline");

        var step = 0.01;
        var timer = setInterval(function() {
                current_progress += step;
                progress = Math.round(Math.atan(current_progress) / (Math.PI / 2) * 100 * 1000) / 1000
                progressBar.setAttribute('value', progress);
                if (progress >= 100){
                            clearInterval(interval);
                }
            }, 100);
    }
    </script>

{% endblock %}